
body{
    background-color: rgb(205, 228, 235);
}

.username-wrapper {
    vertical-align: middle;
    margin: 5px;
}

.details-wrapper{
    vertical-align: middle;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    background-color: rgb(255, 255, 255);
}
#role {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;

    font-size: 8pt;
    font-weight: bold;

    color: white;
    border-radius: 5px;
}

.ADMINISTRATEUR {
    background-color: rgb(255, 64, 0);
}

.PROPRIETAIRE {
    background-color: rgb(0, 64, 255);
}

.LOCATAIRE {
    background-color: rgb(35, 145, 45);
}

.username-wrapper span {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}